<!doctype html>
<html lang="en">

<head>

<% include ../partial/head %>

</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">

      <% include ../partial/left-sidebar %>

        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                      <div class="card">
                                          <h5 class="card-header"><%= title %></h5>
                                          <div class="card-body">
                                              <form action="/users/userupdate" id="basicform" data-parsley-validate="" method="post">
                                                  <div class="form-group">
                                                    <input type="hidden" name="id" value="<%= users._id %>">
                                                      <label for="name"> Name</label>
                                                      <input id="name" type="text" name="name" data-parsley-trigger="change" required="" value="<%= users.name %>" autocomplete="off" class="form-control">
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="email">Email</label>
                                                      <input id="email" type="email" name="email" data-parsley-trigger="change" required="" value="<%= users.email %>" autocomplete="off" class="form-control">
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="password">Password</label>
                                                      <input id="password" type="password" name="password" required="" class="form-control">
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-sm-6 pl-0">
                                                          <p class="text-right">
                                                              <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                                              <button class="btn btn-space btn-secondary">Cancel</button>
                                                          </p>
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                     <!-- ============================================================== -->
                    <!-- navbar -->
                    <!-- ============================================================== -->

                    <% include ../partial/navbar %>

                    <!-- ============================================================== -->
                    <!-- end navbar -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- left sidebar -->
                    <!-- ============================================================== -->
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->

            <% include ../partial/footer %>

            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->

    <% include ../partial/script %>

  </body>
</html>
